.newTweet{
    border-radius: 10px;
    background-color: rgb(46, 45, 44);
    width: 50%;
    align-items: center;
    margin-left: 310px;
    overflow: hidden;
    margin-top: 20px;
  }
  
.newPost{
    height: 25px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom: 20px;
    width: 400px;
  }